<div class="container">
	<div class="card custom-card my-card">
	  <h5 class="card-header"><strong>Form</strong></h5>
	  <div class="card-body">
	 	  
		  <%= form_for @user, url: {action: "view"}, html: {class: "needs-validation",:novalidate => 'novalidate'} do |f| %>

		      <div class="form-group">
		      	<strong><%= f.label :first_name,"First Name" %></strong>
		      	<%= f.text_field :first_name , class: "form-control form-control-sm", placeholder:"Enter First Name" %>
		      	<p class="text-danger"><%= @user.errors[:first_name][0] %></p>
        	  </div>

			  <div class="form-group">
			  	<strong><%= f.label :last_name,"Last Name" %></strong>
		      	<%= f.text_field :last_name, class: "form-control form-control-sm", placeholder: "Enter Last Name" %>
		      	<p class="text-danger"><%= @user.errors[:last_name][0] %></p>
			  </div>

			  <div class="form-group">
			  	<strong><%= f.label :email,"Email" %></strong>
		      	<%= f.email_field :email,class: "form-control form-control-sm", placeholder: "Enter Email" %>
		      	<p class="text-danger"><%= @user.errors[:email][0] %></p>
		    
			  </div>
			
			  <div class="form-group">
			    <strong><%= f.label :email_confirmation,"Confirm Email" %></strong>
			  	<%= f.email_field :email_confirmation ,class: "form-control form-control-sm", placeholder: "Confirm Email"%>
			  	<p class="text-danger"><%= @user.errors[:email_confirmation][0] %></p>
			  </div>
			  
			  <div class="form-group">
			  	<strong><%= f.label :country_id,"Country" %></strong>
				<%= f.collection_select(:country_id, Country.all, :id, :country_name,{ prompt: 'Select Country' },{class:"form-control form-control-sm"}) %>
		   		<p class="text-danger"><%= @user.errors[:country_id][0] %></p>
			  
			  </div>

			  <div class="form-group">
			  	<strong><%= f.label :city_id,"City" %></strong>
				<%= f.select :city_id, options_for_select(["Select City"]),{}, { :class => 'form-control form-control-sm'} %>
				<p class="text-danger"><%= @user.errors[:city][0] %></p>			   
			  </div>
			
		 <%= submit_tag "Submit", class: "btn btn-primary my-submit" %>
			  
		  <% end %>
	  </div>
	</div>
</div>