<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' %>
    <script type="text/javascript">
      
    // Ajax call for dynamically loading cities list  
    $(document).ready(function() {

      $('#user_country_id').change(function() {
          $.ajax({
             url: "http://"+window.location.host+"/city", // this will be routed
             type: 'GET',
             data: {
               country_id: $("#user_country_id").val()
             },
             async: true,
             dataType: "json",
             error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed: "+ errorTextStatus+" ;"+error);
                    },
             success: function(data){
                // here we iterate the json result
                console.log(data);
                $("#user_city_id").empty();
                $("#user_city_id").append('<option>Select City</option>');
                for(var i in data)
                {
                  var id = data[i].id;
                  var title = data[i].city_name;

                  $("#user_city_id").append(new Option(title, id));
                }        

             }
           });
        });
      });
 
    </script>
  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Demo</a>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
